<div class="container-fluid base">
    <div class="row">
        <div class="col-md-5 titulo">
            {{musica.nome}}
        </div>
        <div class="col-md-7 form-inline campo-parte">
            <div class="input-group input-group-lg">
              <span class="input-group-btn" ng-if="parte > 1">
                    <button type="button" ng-click="paginar(-1)" class="btn btn-lg btn-default"><span aria-hidden="true">&laquo;</span></button>
              </span>
              <input class="form-control input-lg" type="number" ng-model="parte" min="1" max="{{musica.sequencia.length}}" />
              <span class="input-group-btn" ng-if="parte < musica.sequencia.length">
                    <button type="button" ng-click="paginar(1)" class="btn btn-lg btn-default"><span aria-hidden="true">&raquo;</span></button>
              </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="musica" ng-show="exibir">
                <div class="pre" ng-show="exibir">
                    <p ng-repeat="linha in musica.letra[musica.sequencia[parte - 1]] track by $index">
                        <span ng-bind-html="trataHtml(linha)"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
