/* app css stylesheet */

.row {
    margin-bottom: 10px;
}
.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.pre {
    white-space: pre-wrap;
    font-family: Courier, monospace;
    font-weight: bold;
}

.exibindo-data-show {
    font-size: 42px;
    line-height: 13px;
    margin-left: -500px;
}

.pre b {
    color: orange;
}

.musica {
    border-radius: 8px;
    border: inset 1px #DDD;
    margin-top: 10px;
    min-height: 545px;
    background-color: #EEE;
}

.titulo {
    font-size: 40px;
    font-weight: bold;
}

.editor-musica .titulo {
    font-size: 30px;
    padding-top: 8px;
    height: 58px;
}

.campo-parte {
    padding-top: 5px;
}

.base {
    padding: 10px;
    background-color: #DADADA;
}

.pre, .musica {
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
}

.pre.ng-hide {
  opacity:0;
}

.musica.ng-hide {
    background-color: #AAA;
}


.animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.3s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}

.linha-bruta a {
    cursor: pointer;
}

.cifra {
    background-color: #ffe87c;
}

.letra {
    background-color: #5cb85c;
}

.estrofe-pronta {
    background-color: #DDD;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 5px;
}

.estrofe-pronta p {
    margin-bottom: -9px;
}

.musica-pronta, .musica-compondo, .letra-bruta {
    min-height: 640px;
    max-height: 640px;
    overflow: auto;
}

.musica-pronta .pre, .letra-bruta .pre {
    font-size: 10px;
}

.feedback i, .feedback .alert {
    -webkit-transition:all linear 0.3s;
    transition:all linear 0.3s;
}

.feedback i {
    font-size: 40px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 8px;
}

.feedback .alert {
    margin-top: 3px;
    margin-bottom: 0;
}

.feedback i.ng-hide, .feedback .alert.ng-hide  {
  opacity:0;
}

.gravado {
    color: #5cb85c;
}

.falhou {
    color: #954121;
}

.editor-musica .cabecalho {
    background-color: #EEE;
    border: 1px solid #DDD;
    border-radius: 3px;
    padding: 5px;
    margin: -20px 0 10px 0;
}

.cabecalho .botoes {
    padding-top: 12px;
}