<div class="container-fluid editor-musica">
    <div class="row cabecalho">
        <div class="col-lg-3">
            <div class="titulo">Montar música</div>
        </div>
        <div class="col-md-9">
            <div class="col-md-10 feedback">
                <div class="alert alert-danger" role="alert" ng-bind="erroGravacao" ng-show="erroAoGravar"></div>
            </div>
            <div class="col-md-1 feedback">
                <i ng-show="sucessoAoGravar" class="gravado fa fa-check"></i>
                <i ng-show="erroAoGravar" class="falhou fa fa-close"></i>
            </div>
            <div class="col-md-1 botoes" style="text-align: right;">
                <button class="btn btn-success" ng-click="gravarMusica()">Gravar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="musica.cifraUrl" placeholder="Url da música no Cifra Club"/>
                <span class="input-group-btn">
                    <button type="button" ng-click="parsearMusica()" ng-class="{'btn-warning': estadoGetMusica == 'Aguarde'}" ng-disabled="estadoGetMusica == 'Aguarde'" class="btn btn-primary" ng-bind="estadoGetMusica"></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 musica-nome">
            <div class="input-group">
                <span class="input-group-addon">
                    <span>Nome</span>
                </span>
                <input type="text" class="form-control input-lg" ng-model="musica.nome" placeholder="Nome da Música"/>
            </div>
        </div>
        <div class="col-md-4 musica-cantor">
            <div class="input-group">
                <span class="input-group-addon">
                    <span>Cantor</span>
                </span>
                <input type="text" class="form-control input-lg" ng-model="musica.cantor" placeholder="Cantor da Música"/>
            </div>
        </div>
        <div class="col-md-4 musica-sequencia">
            <div class="input-group">
                <span class="input-group-addon">
                    <span>Sequencia</span>
                </span>
                <input type="text" class="form-control input-lg" ng-model="musica.sequencia" placeholder="Sequência da Música"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Música pronta</h4>
                </div>
                <div class="panel-body musica-pronta">
                    <div class="estrofe-pronta animate-repeat" ng-repeat="estrofe in musica.estrofes | orderBy:indice track by $index">
                        <div ng-repeat="verso in estrofe.versos track by $index">
                            <p class="pre" ng-bind-html="trataHtml(verso.cifra)"></p>
                            <p class="pre" ng-bind-html="trataHtml(verso.letra)"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Compondo</h4>
                </div>
                <div class="panel-body musica-compondo">
                    <div class="panel-group" id="listaEstrofes" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default animate-repeat" ng-repeat="estrofe in musica.estrofes | orderBy:indice track by $index">
                            <div class="panel-heading" role="tab" id="cabecalhoEstrofe{{estrofe.indice}}">
                                <h4 class="panel-title">
                                    <button class="btn btn-primary" ng-class="{'active': estrofeAtual == $index}" role="button" ng-click="defineEstrofeAtual($index)" data-toggle="collapse" data-parent="#listaEstrofes" data-target="#conteudoEstrofe{{estrofe.indice}}" aria-expanded="true" aria-pressed="true" aria-controls="conteudoEstrofe{{estrofe.indice}}">
                                        <span>Estrofe</span> <span ng-bind="estrofe.indice"></span>
                                    </button>
                                    <button class="btn btn-primary" role="button" ng-click="adicionaVerso($index)">
                                        <i class="fa fa-plus"></i> Verso
                                    </button>
                                    <button class="btn btn-primary" role="button" ng-click="adicionaSequencia(estrofe.indice)">
                                        <i class="fa fa-plus"></i> Sequência
                                    </button>
                                    <button type="button" class="close" ng-if="musica.estrofes.length > 1" ng-click="removeEstrofe($index)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <button type="button" class="close" ng-if="estrofe.indice > 1" ng-click="moveEstrofe(-1, $index)"><i class="fa fa-angle-double-up"></i></button>
                                    <button type="button" class="close" ng-if="estrofe.indice < musica.estrofes.length" ng-click="moveEstrofe(1, $index)"><i class="fa fa-angle-double-down"></i></button>
                                </h4>
                            </div>
                            <div id="conteudoEstrofe{{estrofe.indice}}" class="panel-collapse collapse" ng-class="{'in': $index == 0}" role="tabpanel" aria-labelledby="cabecalhoEstrofe{{estrofe.indice}}">
                                <div class="panel-body">
                                    <div class="panel panel-default animate-repeat" ng-repeat="verso in estrofe.versos track by $index">
                                        <div class="panel-body">
                                            <button type="button" class="close" ng-click="removeVerso($parent.$index, $index)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <div class="input-group">
                                                <span class="input-group-addon" id="verso{{$index + 1}}Estrofe{{estrofe.indice}}Cifra"><i class="fa fa-music"></i></span>
                                                <input type="text" ng-trim="false" ng-model="verso.cifra" class="form-control" placeholder="Cifra" aria-describedby="verso{{$index + 1}}Estrofe{{estrofe.indice}}Cifra">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon" id="verso{{$index + 1}}Estrofe{{estrofe.indice}}Letra"><i class="fa fa-microphone"></i></span>
                                                <input type="text" ng-trim="false" ng-model="verso.letra" class="form-control" placeholder="Letra" aria-describedby="verso{{$index + 1}}Estrofe{{estrofe.indice}}Letra">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer" ng-show="$index == musica.estrofes.length - 1">
                                <button class="btn btn-primary" ng-click="adicionaEstrofe()">Adiciona Estrofe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Música do Cifra Club</h4>
                </div>
                <div class="panel-body letra-bruta">
                    <div class="alert alert-info" role="alert" ng-if="letra.length == 0">
                        Digite a URL da música no cifra clube na caixa acima e clique em Carregar para adicionar aqui a letra da música.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="!conseguiuObterMusica">
                        Ocorreu um erro ao tentar ler a música <a href="{{ musica.cifraUrl }}" target="_blank">{{ musica.cifraUrl }}</a>. Por favor, tente acessar a url e verifica se a página tem a música corretamente.
                    </div>
                    <div class="input-group linha-bruta animate-repeat" ng-repeat="linha in letra track by $index">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-angle-double-left"></i></button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="defineVerso(linha, 'cifra', $index)">Como Cifra</a></li>
                                <li><a ng-click="defineVerso(linha, 'letra', $index)">Como Letra</a></li>
                            </ul>
                        </div>
                        <p class="form-control linha-bruta pre" ng-bind-html="trataHtml(linha)" id="linhaCifra{{$index}}"></p>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="removeLinha($index)"><i class="fa fa-close"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
