<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Montar música</h1>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="cifraUrl" placeholder="Url da música no Cifra Club" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="parsearMusica()" class="btn btn-default">Carregar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="input-group" ng-repeat="linha in letra track by $index">
                <span class="input-group-btn">
                    <button type="button" ng-click="zasMusica()" class="btn btn-default"><span aria-hidden="true">&laquo;</span></button>
                </span>
                <input type="text" class="form-control" value="{{linha}}" />
            </div>
        </div>
    </div>
</div>
