<div class="container" style="padding: 10px; margin-left: 540px">
    <div class="row">
        <div class="col-md-3">
            <input type="search" ng-model="buscar" class="form-control" placeholder="Buscar Música ou Cantor" >
         </div>
    </div>
</div>
<div class="container">
    <div class="row">
    <div class="col-md-7">
    <table class="table table-striped table-bordered " style="margin-left: 250px">
        <thead>
       <tr>
           <th>Musicas</th>
           <th>Cantor</th>
           <th></th>
       </tr>
        </thead>
        <tbody ng-repeat="musica in musicas|filter:buscar|orderBy:'+ nome'| limitTo:10" >
            <tr>
              <td>
                <a ng-href="#/musicas/{{musica.id}}">{{musica.nome}}</a>
              </td>

                <td>
                 {{musica.cantor}}
                </td>
              <td>
                <a ng-href="#/editor-musica/{{musica.id}}" data-placement="top" title="Editar música"><i class="fa fa-edit"></i></a>
              </td>
            </tr>
        </tbody>

    </table>

  <nav style="margin-left:450px">
      <ul class="pager">
        <li><a href="#/musicas/{{musica.id}}">Anterior</a></li>
        <li><a href="#/musicas/{{musica.id}}">Próximo</a></li>
  </ul>
 </nav>
   </div>
  </div>
</div>
<!--<ul>-->
    <!--<li ng-repeat="musica in musicas |filter:buscar">-->
        <!--<a ng-href="#/musicas/{{musica.id}}/0">{{musica.nome}}</a>-->
    <!--</li>-->
<!--</ul>-->